USE [master]
GO
/****** Object:  Database [ecommerce]    Script Date: 05/09/2025 10:59:09 ******/
CREATE DATABASE [ecommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ecommerce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ecommerce.mdf' , SIZE = 5312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ecommerce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ecommerce_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ecommerce]
GO
/****** Object:  User [teamvendas]    Script Date: 05/09/2025 10:59:09 ******/

-- Criar o LOGIN 
CREATE LOGIN [teamvendas] 
WITH PASSWORD = '1q2w3e4r', 
DEFAULT_DATABASE = [ecommerce],
CHECK_EXPIRATION = OFF,
CHECK_POLICY = OFF
GO

-- Criar o USER no banco 
USE [ecommerce]
GO
CREATE USER [teamvendas] FOR LOGIN [teamvendas] 
WITH DEFAULT_SCHEMA = [dbo]
GO

-- Adicionar à role
ALTER ROLE [db_datareader] ADD MEMBER [teamvendas]
GO

/****** Object:  Table [dbo].[Cliente]    Script Date: 05/09/2025 10:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Cd Cliente] [varchar](50) NULL,
	[Nome] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
	[Regiao] [varchar](50) NULL,
	[Cidade] [varchar](50) NULL,
	[Endereco] [varchar](80) NULL,
	[Email] [varchar](80) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 05/09/2025 10:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Produto](
	[cdProduto] [varchar](50) NULL,
	[Desc Produto] [varchar](50) NULL,
	[Quantidade em estoque] [varchar](50) NULL,
	[Desc  Produto2] [varchar](50) NULL,
	[Dim_Produtos] [varchar](50) NULL,
	[Categorias] [varchar](80) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 05/09/2025 10:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Venda](
	[cdCliente] [varchar](50) NULL,
	[cdProduto] [varchar](50) NULL,
	[cdVendedor] [varchar](50) NULL,
	[valor] [real] NULL,
	[dtVenda] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 05/09/2025 10:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendedor](
	[cdVendedor] [varchar](50) NULL,
	[NomeVendedor] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Cliente] ([Cd Cliente], [Nome], [Pais], [Regiao], [Cidade], [Endereco], [Email]) VALUES (N'100', N'Quisque Corporation', N'Korea, North', N'AB', N'Stockholm', N'148-159 Mattis Rd.', N'Suspendisse.dui@nequeSedeget.org')
INSERT [dbo].[Cliente] ([Cd Cliente], [Nome], [Pais], [Regiao], [Cidade], [Endereco], [Email]) VALUES (N'101', N'Vestibulum Foundation', N'Czech Republic', N'Vienna', N'Vienna', N'Ap #188-4398 Amet, Ave', N'non.bibendum.sed@nuncQuisque.com')
INSERT [dbo].[Cliente] ([Cd Cliente], [Nome], [Pais], [Regiao], [Cidade], [Endereco], [Email]) VALUES (N'102', N'Suspendisse Non Leo LLP', N'Gabon', N'AB', N'Lidingo', N'615 Congue Av.', N'mollis@Curabiturvellectus.co.uk')
GO
INSERT [dbo].[Produto] ([cdProduto], [Desc Produto], [Quantidade em estoque], [Desc  Produto2], [Dim_Produtos], [Categorias]) VALUES (N'1825', N'abajur', N'7', N'Abajur', N'Abajur', N'Casa e Decoração')
INSERT [dbo].[Produto] ([cdProduto], [Desc Produto], [Quantidade em estoque], [Desc  Produto2], [Dim_Produtos], [Categorias]) VALUES (N'1924', N'abelha rainha', N'6', N'Abelha Rainha', N'Abelha Rainha', N'Agropecuária')
INSERT [dbo].[Produto] ([cdProduto], [Desc Produto], [Quantidade em estoque], [Desc  Produto2], [Dim_Produtos], [Categorias]) VALUES (N'1462', N'academia', N'4', N'Academia', N'Academia', N'Fitness')
GO
INSERT [dbo].[Venda] ([cdCliente], [cdProduto], [cdVendedor], [valor], [dtVenda]) VALUES (N'138', N'1940', N'9', 820, CAST(N'2020-02-18 00:00:00.000' AS DateTime))
INSERT [dbo].[Venda] ([cdCliente], [cdProduto], [cdVendedor], [valor], [dtVenda]) VALUES (N'154', N'1551', N'7', 70, CAST(N'2020-02-03 00:00:00.000' AS DateTime))
INSERT [dbo].[Venda] ([cdCliente], [cdProduto], [cdVendedor], [valor], [dtVenda]) VALUES (N'148', N'1844', N'1', 225, CAST(N'2020-01-18 00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Vendedor] ([cdVendedor], [NomeVendedor]) VALUES (N'9', N'Julius')
INSERT [dbo].[Vendedor] ([cdVendedor], [NomeVendedor]) VALUES (N'7', N'Rochelle')
INSERT [dbo].[Vendedor] ([cdVendedor], [NomeVendedor]) VALUES (N'1', N'Cris')
USE [master]
GO
